Source: tlc59116-dtwi
Section: libraries
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: chipkit
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libtlc59116-dtwi-chipkit
Section: libraries
Architecture: all
XBSC-Group: IO
XBSC-Subgroup: Analog
Depends: chipkit
Provides: TLC59116-UL-DTWI.h
Description: TLC59116 DTWI library for chipkit
 This is a DTWI version of the TLC59116 library for chipKIT boards.



